<div class="row">

    <div class="col-md-8 col-md-offset-2">
        <a routerLink="/posts">
            <h1 class="text-center">Awesome Blog!</h1>
        </a>
        <a class="pull-right text-primary blog-anchor" *ngIf="!loginService.isLoggedIn()" (click)="showLogin()">Sign In</a>
        <a class="pull-right text-primary blog-anchor" *ngIf="loginService.isLoggedIn()" (click)="logout($event)">Sign Out</a>
        <a class="pull-left text-primary blog-anchor" *ngIf="loginService.isLoggedIn()" routerLink="/post">New Post</a>

    </div>
</div>
<div class="row" *ngIf="showLoginForm">

    <div class="col-md-4 col-md-offset-4">
        <form [formGroup]="loginForm" (ngSubmit)="login($event)">
            <p class="text-center">
                <label for="username" class="sr-only">Username</label>
                <input formControlName="username" type="text" id="username" placeholder="Username" class="form-control" name="username" required>
            </p>
            <p class="text-center">
                <label for="password" class="sr-only">password</label>
                <input formControlName="password" type="password" id="password" class="form-control" placeholder="Password" name="password" required>
            </p>
            <p class="text-right">
                <input type="submit" class="btn btn-block" value="Log In">

            </p>
            <p class="text-center text-danger">{{errorMessage}}</p>
        </form>
    </div>
</div>

<router-outlet></router-outlet>